*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #151515;
  }
  .circle1 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 3px solid #fe444425;
      border-top: 3px solid red;
      animation: ani 4s linear infinite;
  }
  .circle2 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      border: 3px solid #fee84422;
      border-top: 3px solid #f9ce24;
      animation: ani 3s linear infinite;
  }
  .circle3 {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 3px solid #c2ae1a22;
      border-top: 3px solid blue;
      animation: ani 2s linear infinite;
  }
  @keyframes ani {
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }